<%# displaying the date%>
<div class="currentDate">
  <span>Displaying diary for:</span>
  <span><b><%= days.dateString.substring(0,10)+","+ days.dateString.substring(10,days.dateString.length)%></b></span>
  <br>
  <br>
</div>
<%# contains the datepicker%>

<div style="background:transparent;">
  <div class="row justify-content-center">
    <div class="col-4">
      <form class="form-inline" method="post">
        <div class="form-group mx-sm-3 mb-2">
          <input class="form-control" id="date" name="date" placeholder="MM/DD/YYYY" required type="text"
            autocomplete="off" />
          <button class="btn btn-primary" name="submit" type="submit">Change Date</button>
        </div>
      </form>
    </div>
  </div>
</div>