<!-- Footer links and icons-->
<footer class="footer">
  <!-- <div class="container-fluid"> -->
    <nav>
      <ul class="footer-menu">
        <li>
          <a href="https://www.instagram.com/joinnewleaf/?hl=en">
            <i class="fa fa-instagram"></i>
          </a>
        </li>
        <li class="footer-docs">
          <a  href="https://docs.google.com/document/d/1OMZwS26m8nyCeFhQgIPVNAetX0N5y9Faud4trai1vLo/edit?usp=sharing">Privacy Policy</a>
        </li>
        <li class="footer-docs">
          <a  href="hhttps://docs.google.com/document/d/1yKyx5b0_E81yhAtg_QLR2PhJ3xR6NOfsAmsjX5nGdDc/edit?usp=sharing">Terms of Service</a>
        </li>
      </ul>
      <!-- <ul class="footer-menu">
        <li>
          © 2019 Copyright:
          <a href="joinnewleaf.com"> joinnewleaf.com</a>
        </li>
      </ul> -->
    </nav>
 <!-- </div> -->
</footer>