<!-- Footer links and icons-->
<footer class="footer">
  <!-- <div class="container-fluid"> -->
    <nav>
      <ul class="footer-menu">
        <li>
          <a href="https://www.instagram.com/cicohealth/?hl=en">
            <i class="fa fa-instagram"></i>
          </a>
        </li>
      </ul>
      <!-- <ul class="footer-menu">
        <li>
          © 2019 Copyright:
          <a href="trycicohealth.com"> trynewleaf.com</a>
        </li>
      </ul> -->
    </nav>
 <!-- </div> -->
</footer>