<%# this is a partial footer file that gets added to the dashboard%>

  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="trycicohealth.com"> trynewleaf.com</a>
  </div>
  </footer>
  <hr>