<!-- Partial navbar file-->
<div class="sidebar" data-color="" data-image="">
    <div class="sidebar-wrapper">
        <div class="logo">
            <!-- having the href="javascript:;" makes this an empty link that does nothing. if we change it to just a hashtag then it will always jump to the top of the page, and if we leave it blank it will cause a refresh. Im just going to leave it in here for now-->
            <a href="javascript:;" class="simple-text">
                Cico Health
            </a>
        </div>
        <ul class="nav">
            <li class='nav-item'>
                <a class="nav-link" href="/dashboard">
                    <i class="fas fa-book"></i>
                    <p>Food Diary</p>
                </a>
            </li>
            <li>
                <li>
                    <a class="nav-link" href="/usergoals/myaccount">
                        <i class="fas fa-heartbeat"></i>
                        <p>Health Insights</p>
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="/usergoals/myaccount">
                        <i class="fas fa-user-cog"></i>
                        <p>Customize</p>
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="/resources">
                        <i class="fas fa-info-circle"></i>
                        <p>Resources</p>
                    </a>
                </li>
                <li>
                    <a class="nav-link" href='/users/logout'>
                        <i class="fas fa-sign-out-alt"></i>
                        <p>Log Out</p>
                    </a>
                </li>
        </ul>
    </div>
</div>

<%# jquery script below makes each html page active in the navbar, this should be put into a separate file%>
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script>
        $(function () {
            $('a').each(function () {
                if ($(this).prop('href') == window.location.href) {
                    $(this).addClass('active'); $(this).parents('li').addClass('active');
                }
            });
        });
    </script>