<form action="/days/add" method="POST" autocomplete="off">
    <div class="modal-header">
        <h4 class="modal-title">Add Food</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label>Food</label>
            <input list="result" name="food" placeholder="search" class="form-control" id="search"
                type="text" required maxlength="50" onclick="this.select()">
            <datalist id="result">
                <option class="searchResultOptions" value="Quick Add">
            </datalist>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label for="units" class="formText">Units</label>
                <input list="unitsList" type="text" class="form-control" id="units" name="units">
                <datalist id="unitsList">
                    <option class="ResultOptions" value="Grams">
                    <option class="ResultOptions" value="Cups">
                    <option class="ResultOptions" value="Ounces">
                </datalist>
            </div>

            <div class="form-group col-md-6">
                <label for="quantity" class="formText">Quantity</label>
                <input type="text" class="form-control" id="quantity" name="quantity">
            </div>
        </div>
        <div class="form-group">
            <label>Calories</label>
            <input type="number" name="calories" class="form-control add_row_data calories_data"
                value="0" required maxlength="10" onclick="this.select()">
        </div>
        <div class="form-group">
            <label>Carbs</label>
            <input type="number" name="carbs" class="form-control add_row_data carbs_data" value="0"
                required maxlength="10" onclick="this.select()">
        </div>
        <div class="form-group">
            <label>Fats</label>
            <input type="number" name="fats" class="form-control add_row_data fats_data" value="0"
                required maxlength="10" onclick="this.select()">
        </div>
        <div class="form-group">
            <label>Protein</label>
            <input type="number" name="proteins" class="form-control add_row_data proteins_data"
                value="0" required maxlength="10" onclick="this.select()">
        </div>
        <div class="form-group">
            <label>Sugar</label>
            <input type="number" name="sugar" class="form-control add_row_data sugars_data" value="0"
                required maxlength="10" onclick="this.select()">
        </div>
        <div class="form-group">
            <label>Sodium</label>
            <input type="number" name="sodium" class="form-control add_row_data sodium_data" value="0"
                required maxlength="10" onclick="this.select()">
        </div>
        <input type="hidden" name="date" value="<%= days.date %>" />
        <input type="hidden" name="dateString" value="<%= days.dateString %>" />
        <div class="modal-footer">
            <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
            <input type="submit" class="btn btn-success" value="Add">
        </div>
</form>