<%# This is what you use to comment in ejs code. Layout is a special ejs
file that allows you to format all of your html pages%>

  <!DOCTYPE html>
  <html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>New Leaf</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport'
    />
    <!--     Fonts and icons     -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" /> -->
    <!-- <script src="https://kit.fontawesome.com/ab38b2df24.js"></script> -->
    <!-- <script src="https://kit.fontawesome.com/829442840b.js" crossorigin="anonymous"></script> -->
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"> -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <!-- Sidebar CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous">
    <link href="/css/web-app-styling.css" rel="stylesheet" type="text/css">



    <!-- <link href="/Users/keayramorris/Box Sync/cico/WebApp/sass/web_app_styling_final.css" rel="stylesheet" /> -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>

    <style>
      .myaccount {
        overflow-x: hidden;
      }

      .healthinsights {
        overflow-x: hidden;
      }

      .main-panel {
        overflow-x: hidden;
        margin-top: 11px;
      }

      .center-progressbar {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -0%);
      }

      .rating-num {
        margin-top: 0px;
        font-size: 54px;
      }

      .progress {
        margin-bottom: 5px;
      }

      .progress-bar {
        text-align: left;
      }

      .progress-bar-protein {
        background-color: #F08080;
      }

      .progress-bar-fats {
        background-color: #8FBC8B;
      }

      .progress-bar-carbs {
        background-color: #FFE4B5;
      }


      .rating-desc .col-md-3 {
        padding-right: 0px;
      }

      .sr-only {
        margin-left: 5px;
        overflow: visible;
        clip: auto;
      }
    </style>






  </head>

 <body class="bodyMobileSettings"> 

  <!--The wrapper class is what makes the layout cover 100% of the viewport-->
   <div class="wrapper"> 
      <%# We are taking all the other views and injecting them into this body,
      formatted using a container, need to use this syntax in EJS%>
        <%- body %>
   </div> 

    <%# These are bootstrap srcs that are needed to use flash messages%>

      <!--   Core JS Files   -->
      <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" -->
        <!-- crossorigin="anonymous"></script> -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

      <!-- Jquery libraries -->
      <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css"> -->

      <!-- Daypicker libraries -->
      <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
      <link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"
      />

  </body>

  </html>