<%# This is copied and pasted from github, is going to be the homepage view %>
<%# centers, gives register and login button %>

<div class="login-grid">
  <img class="logo-img" src="/images/logo.jpg">
  <p class="create-account">Create an account or login</p>

  <%# links to the register route in users using a button %> <%# we intend
      to render the register template here in users.js %>
  <a href="/users/register" class="grid-button1 btn btn-primary btn-block mb-2">Register</a>

  <%# links to the login route in users using a button %>
  <a href="/users/login" class="grid-button2 btn btn-secondary btn-block">Login</a>
</div>
