<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="/css/_landing_page.css" />
</head>

<body class="landing">

	<!-- Header -->
	<header id="header" class="alt">
		<h1><a href="index.html">
				<img src="/images/logo.jpg" class="tiny_logo" />
			</a></h1>
		<nav id="nav">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="#three">Features</a></li>
				<li><a href="/users/login">Login</a></li>
			</ul>
		</nav>
	</header>

	<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

	<!-- Banner -->
	<section id="banner">
		<div class="banner-grid">
			<div class="banner-heading">
				<h2>New Leaf</h2>
				<p>Smart health monitoring for diabetes and high blood pressure.</p>
				<ul class="actions">
					<li><a href="/users/register" class="button special big">Get Started</a></li>
				</ul>
			</div>

			<lottie-player src="https://assets8.lottiefiles.com/packages/lf20_8Gr1sc.json" background="transparent"
				speed="1" style="max-width: 600px; max-height: 600px;" loop autoplay></lottie-player>
		</div>
	</section>

	<!-- One -->
	<section id="one" class="wrapper style1 take-control-section">
		<div class="container">
			<div class="row 200%">
				<div class="6u 12u$(medium)">
					<header class="major">
						<h2>Patient-centered medical care.</h2>
						<p>Make managing your health easier with New Leaf.</p>
					</header>
				</div>
				<div class="6u$ 12u$(medium)">
					<p>New Leaf helps you quickly and conveniently reach your health goals without seeing your doctor
						in-person. Monitor your medications, weight, blood pressures, blood sugars, exercise, diet, and
						stress
						using smart health devices. Keep your doctor updated on your side effects, symptoms, and health.
					</p>
				</div>
			</div>
		</div>
		<div class="product-desctiption-container">
			<img class="product-description-image" src="/images/product-description.png" alt="" />
			<div class="product-description">
				<p>New Leaf connects smart body scales, blood pressure cuffs, glucometers, and pill bottles to let you
					manage your disease from home. Health data is uploaded to
					your New Leaf profile and stored on our secure database. Your doctor uses this data to make you a
					personalized plan-of-care.</p>
			</div>
		</div>

	</section>

	<!-- Two -->
	<section id="two" class="wrapper style2 special chronic-disease-management">
		<div class="container">
			<header class="major">
				<h2>Chronic Disease Management</h2>
				<p>Monitor your habits and health data with digital health devices.</p>
			</header>
			<div class="row 150%">
				<div class="6u 12u$(xsmall)">
					<div class="image fit captioned">
						<img src="images/home-page-demo.png" />
						<h3>Instantly share data across health devices</h3>
					</div>
				</div>
				<div class="6u$ 12u$(xsmall)">
					<div class="image fit captioned">
						<img src="images/health-insights-page-demo.png" alt="" />
						<h3>Insights personalized to your care plan</h3>
					</div>
				</div>
			</div>
			<ul class="actions">
				<li><a href="/users/register" class="button special big">Register</a></li>
			</ul>
		</div>
	</section>

	<!-- Three -->
	<section id="three" class="wrapper style1 features-section">
		<div class="container">
			<header class="major special">
				<h2>Features</h2>
				<p>How New Leaf can help you.</p>
			</header>
			<div class="feature-grid">
				<div class="feature">
					<div class="image"><img src="/images/goal-setting.png" alt="" /></div>
					<div class="content">
						<header>
							<h4>Goal Setting</h4>
							<p>Develop a plan of action.</p>
						</header>
						<p>Set custom goals, reminders, and alerts using doctor-recommended guidance.</p>
					</div>
				</div>
				<div class="feature">
					<div class="image"><img src="/images/individualized-education.png" alt="" /></div>
					<div class="content">
						<header>
							<h4>Interactive Lessons</h4>
							<p>Evidence-based guidance and education</p>
						</header>
						<p>We use the latest research studies to create your lesson plans.</p>
					</div>
				</div>
				<div class="feature">
					<div class="image"><img src="/images/personalized-feedback.png" alt="" /></div>
					<div class="content">
						<header>
							<h4>Personalized Feedback</h4>
							<p>Track your progress.</p>
						</header>
						<p>See change in real-time using smart insights and coaching techniques to keep yourself accountable.</p>
					</div>
				</div>
				<div class="feature">
					<div class="image"><img src="/images/physician-portal.png" alt="" /></div>
					<div class="content">
						<header>
							<h4>Physician Portal</h4>
							<p>Coming soon.</p>
						</header>
						<p>No need for an in-person office visit for routine checkups or labs.</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Four -->
	<section id="four" class="wrapper style3 special try-app-now">
		<div class="container">
			<header class="major">
				<h2>Want to use New Leaf for free?</h2>
				<p></p>
			</header>
			<ul class="actions">
				<li><a href="/users/register" class="button special big">Sign Up Now!</a></li>
			</ul>
		</div>
	</section>

	<!-- Footer -->
	<footer id="footer">
		<div class="container">
			<ul class="icons">
				<!-- <li><a href="#" class="icon fa-facebook"></a></li> -->
				<li><a href="https://twitter.com/JoinLeaf" class="icon fa-twitter"></a></li>
				<li><a href="https://www.instagram.com/joinnewleaf/" class="icon fa-instagram"></a></li>
			</ul>
			<ul class="copyright">
				<li>Design: <a href="http://templated.co">TEMPLATED</a></li>
				<li>Images: <a href="http://flaticon.com">FlatIcon</a></li>
				<li><a
						href="https://docs.google.com/document/d/1OMZwS26m8nyCeFhQgIPVNAetX0N5y9Faud4trai1vLo/edit?usp=sharing">Privacy
						Policy</a></li>
				<li><a
						href="https://docs.google.com/document/d/1yKyx5b0_E81yhAtg_QLR2PhJ3xR6NOfsAmsjX5nGdDc/edit?usp=sharing">Terms
						and Conditions</a></li>
			</ul>
		</div>
	</footer>

	<!-- Scripts -->
	<script src="/js/skel.min.js"></script>
	<script src="/js/util.js"></script>
	<script src="/js/main.js"></script>
	<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
</body>

</html>