<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="/css/_landing_page.css" />
</head>

<body class="landing">

	<!-- Header -->
	<header id="header" class="alt">
		<h1><a href="index.html">
			<img src="/images/logo.jpg" class="tiny_logo" />
		</a></h1>
		<nav id="nav">
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#three">Features</a></li>
				<li><a href="#four">Sign Up</a></li>
			</ul>
		</nav>
	</header>

	<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

	<!-- Banner -->
	<section id="banner">
		<div class="banner-grid">
			<div class="banner-heading">
		<h2>New Leaf</h2>
		<p>Remote health monitoring for diabetes and hypertension.</p>
				<ul class="actions">
			<li><a href="#" class="button special big">Register or Login</a></li>
		</ul>
		</div>

		<lottie-player src="https://assets8.lottiefiles.com/packages/lf20_8Gr1sc.json"  background="transparent"  speed="1"  style="max-width: 600px; max-height: 600px;"  loop  autoplay></lottie-player>
		</div>
	</section>

	<!-- One -->
	<section id="one" class="wrapper style1 take-control-section">
		<div class="container">
			<div class="row 200%">
				<div class="6u 12u$(medium)">
					<header class="major">
						<h2>Take control.</h2>
						<p>Make managing your health easier with New Leaf.</p>
					</header>
				</div>
				<div class="6u$ 12u$(medium)">
					<p>New Leaf makes it easier to track your blood pressures, blood sugars, diet,
						and medications. It allows you to seamlessly share data with your healthcare team using
						wireless blood pressure cuffs, glucometers, and smart pill bottles.</p>
				</div>
			</div>	
			</div>
			<div class="product-desctiption-container">
				<img class="product-description-image" src="/images/product-description.png" alt="" />
				<div class="product-description">
				<p>New Leaf connects to wireless tools that automatically log your personal health data such as blood 
					pressure, blood sugar, weight, and the times you take your medication. This data is uploaded to 
				your New Leaf profile and stored on our secure database. We use this information to deliver personalized
			feedback about how well you are progressing towards your health goals. You can also share this informaiton
			with your physician and discuss your plan of care all without the need for an office visit.</p>
			</div>
			</div>

	</section>

	<!-- Two -->
	<section id="two" class="wrapper style2 special chronic-disease-management">
		<div class="container">
			<header class="major">
				<h2>Chronic Disease Management</h2>
				<p>Track your habits and health data with wireless technology.</p>
			</header>
			<div class="row 150%">
				<div class="6u 12u$(xsmall)">
					<div class="image fit captioned">
						<img src="images/home-page-demo.png" />
						<h3>Collect Data</h3>
					</div>
				</div>
				<div class="6u$ 12u$(xsmall)">
					<div class="image fit captioned">
						<img src="images/health-insights-page-demo.png" alt="" />
						<h3>Gain Insights</h3>
					</div>
				</div>
			</div>
			<ul class="actions">
				<li><a href="#" class="button special big">Register</a></li>
			</ul>
		</div>
	</section>

	<!-- Three -->
	<section id="three" class="wrapper style1 features-section">
		<div class="container">
			<header class="major special">
				<h2>Features</h2>
				<p>How New Leaf can help you.</p>
			</header>
			<div class="feature-grid">
				<div class="feature">
					<div class="image"><img src="/images/goal-setting.png" alt="" /></div>
					<div class="content">
						<header>
							<h4>Goal Setting</h4>
							<p>Develop a plan of action.</p>
						</header>
						<p>Set goals for blood pressure, diet, weight, and exercise. .</p>
					</div>
				</div>
				<div class="feature">
					<div class="image"><img src="/images/individualized-education.png" alt="" /></div>
					<div class="content">
						<header>
							<h4>Education</h4>
							<p>Arm yourself with knowledge.</p>
						</header>
						<p>We will continuously update you on the latest evidence-based research.</p>
					</div>
				</div>
				<div class="feature">
					<div class="image"><img src="/images/personalized-feedback.png" alt="" /></div>
					<div class="content">
						<header>
							<h4>Personalized Feedback</h4>
							<p>Track your progress.</p>
						</header>
						<p>Customized medication reminders, coaching support, and insights into your habits.</p>
					</div>
				</div>
				<div class="feature">
					<div class="image"><img src="/images/physician-portal.png" alt="" /></div>
					<div class="content">
						<header>
							<h4>Physician Portal</h4>
							<p>Coming soon.</p>
						</header>
						<p>No need for an office visit for routine checkups or labs.</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Four -->
	<section id="four" class="wrapper style3 special try-app-now">
		<div class="container">
			<header class="major">
				<h2>Want to try the app for free?</h2>
				<p></p>
			</header>
			<ul class="actions">
				<li><a href="#" class="button special big">Sign Up Now!</a></li>
			</ul>
		</div>
	</section>

	<!-- Footer -->
	<footer id="footer">
		<div class="container">
			<ul class="icons">
				<!-- <li><a href="#" class="icon fa-facebook"></a></li> -->
				<li><a href="https://twitter.com/JoinLeaf" class="icon fa-twitter"></a></li>
				<li><a href="https://www.instagram.com/joinnewleaf/" class="icon fa-instagram"></a></li>
			</ul>
			<ul class="copyright">
				<li>Design: <a href="http://templated.co">TEMPLATED</a></li>
				<li>Images: <a href="http://flaticon.com">FlatIcon</a></li>
				<li><a href="https://docs.google.com/document/d/1OMZwS26m8nyCeFhQgIPVNAetX0N5y9Faud4trai1vLo/edit?usp=sharing">Privacy Policy</a></li>
				<li><a href="https://docs.google.com/document/d/1yKyx5b0_E81yhAtg_QLR2PhJ3xR6NOfsAmsjX5nGdDc/edit?usp=sharing">Terms and Conditions</a></li>
			</ul>
		</div>
	</footer>

	<!-- Scripts -->
	<script src="/js/skel.min.js"></script>
	<script src="/js/util.js"></script>
	<script src="/js/main.js"></script>
	<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
</body>

</html>