<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="/css/web-app-styling.css" />
</head>


	<!-- Header -->
	<header id="header" class="alt">
		<h1><strong><a href="index.html">Spatial</a></strong> by Templated</h1>
		<nav id="nav">
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="generic.html">Generic</a></li>
				<li><a href="elements.html">Elements</a></li>
			</ul>
		</nav>
	</header>

	<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

	<!-- Banner -->
	<section id="banner">
		<h2>New Leaf</h2>
		<p>Remote health monitoring for diabetes and hypertension.</p>
		<ul class="actions">
			<li><a href="#" class="button special big">Get Started</a></li>
		</ul>
	</section>

	<!-- One -->
	<section id="one" class="wrapper style1">
		<div class="container 75%">
			<div class="row 200%">
				<div class="6u 12u$(medium)">
					<header class="major">
						<h2>Take control.</h2>
						<p>Make managing your health easier with New Leaf.</p>
					</header>
				</div>
				<div class="6u$ 12u$(medium)">
					<p>New Leaf makes it easier to track your blood pressures, blood sugars, diet,
						and medications. It allows you to seamlessly share data with your healthcare team using
						wireless blood pressure cuffs, glucometers, and smart pill bottles.</p>
				</div>
			</div>
		</div>
	</section>

	<!-- Two -->
	<section id="two" class="wrapper style2 special">
		<div class="container">
			<header class="major">
				<h2>Fusce ultrices fringilla</h2>
				<p>Maecenas vitae tellus feugiat eleifend</p>
			</header>
			<div class="row 150%">
				<div class="6u 12u$(xsmall)">
					<div class="image fit captioned">
						<img src="images/pic02.jpg" alt="" />
						<h3>Lorem ipsum dolor sit amet.</h3>
					</div>
				</div>
				<div class="6u$ 12u$(xsmall)">
					<div class="image fit captioned">
						<img src="images/pic03.jpg" alt="" />
						<h3>Illum, maiores tempora cupid?</h3>
					</div>
				</div>
			</div>
			<ul class="actions">
				<li><a href="#" class="button special big">Nulla luctus</a></li>
				<li><a href="#" class="button big">Sed vulputate</a></li>
			</ul>
		</div>
	</section>

	<!-- Three -->
	<section id="three" class="wrapper style1">
		<div class="container">
			<header class="major special">
				<h2>Features</h2>
				<p>How New Leaf can help you.</p>
			</header>
			<div class="feature-grid">
				<div class="feature">
					<div class="image rounded"><img src="/images/goal_icon.png" alt="" /></div>
					<div class="content">
						<header>
							<h4>Goal Setting</h4>
							<p>Develop a plan of action.</p>
						</header>
						<p>Set goals for blood pressure, diet, weight, and exercise. .</p>
					</div>
				</div>
				<div class="feature">
					<div class="image rounded"><img src="" alt="" /></div>
					<div class="content">
						<header>
							<h4>Education</h4>
							<p>Arm yourself with knowledge.</p>
						</header>
						<p>We will continuously update you on the latest evidence-based research.</p>
					</div>
				</div>
				<div class="feature">
					<div class="image rounded"><img src="images/pic06.jpg" alt="" /></div>
					<div class="content">
						<header>
							<h4>Personalized Feedback</h4>
							<p>Track your progress.</p>
						</header>
						<p>Customized medication reminders, coaching support, and insights into your habits.</p>
					</div>
				</div>
				<div class="feature">
					<div class="image rounded"><img src="images/pic07.jpg" alt="" /></div>
					<div class="content">
						<header>
							<h4>Physician Portal</h4>
							<p>Coming soon.</p>
						</header>
						<p>No need for an office visit for routine checkups or labs.</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Four -->
	<section id="four" class="wrapper style3 special">
		<div class="container">
			<header class="major">
				<h2>Aenean elementum ligula</h2>
				<p>Feugiat sed lorem ipsum magna</p>
			</header>
			<ul class="actions">
				<li><a href="#" class="button special big">Get in touch</a></li>
			</ul>
		</div>
	</section>

	<!-- Footer -->
	<footer id="footer">
		<div class="container">
			<ul class="icons">
				<li><a href="#" class="icon fa-facebook"></a></li>
				<li><a href="#" class="icon fa-twitter"></a></li>
				<li><a href="#" class="icon fa-instagram"></a></li>
			</ul>
			<ul class="copyright">
				<li>&copy; Untitled</li>
				<li>Design: <a href="http://templated.co">TEMPLATED</a></li>
				<li>Images: <a href="http://unsplash.com">Unsplash</a></li>
			</ul>
		</div>
	</footer>

	<!-- Scripts -->
	<script src="/js/skel.min.js"></script>
	<script src="/js/util.js"></script>
	<script src="/js/main.js"></script>
	</script>
	</script>
</body>

<<<<<<< HEAD:views/welcome2.ejs
</html>
=======
</html>
>>>>>>> 4e7039fb882763cb3eab28fea544a796cb905a7d:views/welcome1.ejs
